html, body {
    height: 100%;
    font-family: "Open Sans Condensed";
    background-color: black;
    background-size: cover;
    }

h1, h2 {
    color: white;
    height: 75%;
    font-size: 40px;
    font-family: "Open Sans Condensed";
    display: flex;
    justify-content: center;
    align-items: center;
  }

p {
    color: white;
    height: 75%;
    font-size: 35px;
    font-family: "Open Sans Condensed";
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
  }